        <div class="header-main">
            <div class="header-container">
                <a href=""><img class="img-logo" src="./logo-chelsea1.jpg" alt=""></a>
                <div class="header-adress">
                    <div class="adress-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <a href="">
                        SỐ 3 ĐƯỜNG CẦU GIẤY,ĐỐNG ĐA,HÀ NỘI
                        <span>VIEW ON MAP</span>
                    </a>
                </div>
                <div class="header-contact">
                    <div class="wrapp-icon-contact">
                        <i class="fas fa-phone"></i>
                    </div>
                    <h2>0383253940</h2>
                </div>
                <div class="icon-header">
                    <div class="wrapp-icon-logo">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="wrapp-icon-logo">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="wrapp-icon-logo">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="wrapp-icon-logo">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">TRANG CHỦ</div>
                </button>
            </div>
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">GIỚI THIỆU </div>
                </button>
            </div>
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">SẢN PHẨM</div>
                </button>
            </div>
            <div class="wrap-button">

                <button>
                    <div class="button-sidebar">DỊCH VỤ</div>
                </button>
            </div>
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">VỀ CHÚNG TÔI</div>
                </button>
            </div>
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">TIN TỨC</div>
                </button>
            </div>
            <div class="wrap-button">
                <button>
                    <div class="button-sidebar">LIÊN HỆ</div>
                </button>
            </div>
        </div>
        <div class="content">
            <div class="content-search">
                <h1>TÌM XE NHANH</h1>
                <div class="SearchBox">
                    <input type="text" class="SearchBox-input" placeholder="nhập tên xe">
                    <button class="SearchBox-button">
                        <i class="SearchBox-icon  material-icons">search</i>
                    </button>
                </div>
            </div>
            <div class="image-animation">
                <div class="image-animation-container">
                    <img class="image-replace" src="./ROLLS-ROYCE/RR-3.jpg" />
                    <img class="image-replace" src="./Porsche-911/porsche-911-1.jpg" />
                    <img class="image-replace" src="./Mclaren-650s/mc-laren-1.jpg" />
                    <img class="image-replace" src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" />
                </div>
            </div>
            <div class="list-car">
                <div class="list-car-container">
                    <div class="option-list-car">
                        <h3>XE ĐANG BÁN</h3>
                    </div>
                        <div class="container-car">
                                <a class="card-car">
                                    <img src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" alt="">
                                    <div class="name-car">lamborghini-Aventador</div>
                                    <div class="price">
                                        <div class="Number">
                                            12.000.000
                                            <span>₫</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="card-car">
                                    <img src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" alt="">
                                    <div class="name-car">lamborghini-Aventador</div>
                                    <div class="price">12000000đ</div>
                                </a>
                                <a class="card-car">
                                    <img src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" alt="">
                                    <div class="name-car">lamborghini-Aventador</div>
                                    <div class="price">12000000đ</div>
                                </a>
                                <a class="card-car">
                                    <img src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" alt="">
                                    <div class="name-car">lamborghini-Aventador</div>
                                    <div class="price">12000000đ</div>
                                </a>
                                <a class="card-car">
                                    <img src="./lamborghini-Aventador/lamborghini-aventador-1.jpg" alt="">
                                    <div class="name-car">lamborghini-Aventador</div>
                                    <div class="price">12000000đ</div>
                                </a>
                        </div>
                    <div class="footer-list-car">
                        <div class="wrap-button">
                            <button class="button-page"><i class="fas fa-chevron-left"></i></button>
                            <button class="button-page">1</button>
                            <button class="button-page">2</button>
                            <button class="button-page">3</button>
                            <button class="button-page">...</button>
                            <button class="button-page"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrap">
            <div class="footer-information">
                <div class="img-footer">
                    <a href=""><img class="img-logo" src="./logo-chelsea1.jpg" alt=""></a>
                </div>
                <div class="footer-hotline">
                    <span>HOTLINE TƯ VẤN</span>
                    <ul>
                        <li>Mr.lộc 0383253940</li>
                        <li>Địa chỉ: số 3 đường cầu giấy,đống đa, Hà Nội</li>
                        <li>Email: locqwe29@gmai.com</li>
                    </ul>
                </div>
                <div class="suport">
                    <span>HỖ TRỢ KHÁCH HÀNG</span>
                    <ul>
                        <li>Liên hệ</li>
                        <li>Chính sách bảo mật</li>
                        <li>Điều khoản hoạt động</li>   
                        <li>Bán xe</li>
                        <li>Kiến thức oto</li>
                    </ul>
                </div>
                <div class="it-me">
                    <span>VỀ CHÚNG TÔI</span>
                     <ul>
                        <li>Dịch vụ</li>
                        <li>So sánh xe</li>
                        <li>Tin tức</li>
                        <li>Về chúng tôi</li>
                     </ul>
                </div>
            </div>
        </div>